    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">Trans</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <%= form_tag '', :class => 'locale', :method => :get do %>
              <%= select_tag 'locale', options_for_select(I18n.available_locales, I18n.locale.to_s),:class => 'selectpicker form-control', :onchange => 'this.form.submit()' %>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div id="yml-list">
        </div>
      </div>

    </div> <!-- /container -->

